h1, h2, h3, h4, h5, h6 {
  color: #B2182B;
}
nav div {
	background-color: #FFFFFF;
}
nav form {
	background-color: #FFFFFF;
}
nav li {
	color: #DA8E98;
}
nav span {
	color: #DA8E98;
}
details summary {
  color: #B2182B;
}

img {
	border: 1px solid #3A3A3A;
	border-radius: 4px;
	padding: 5px;
}